body {
    margin: 0;
    background-color: rgb(44, 44, 44);
}

.headerWrapper {
    height: 150px;
    width: 100%;
}


.bannerImg {
    height: 150px;
    width: 100%;
    border-bottom: 5px solid white;
}

.mainContentWrapper {
    height: 700px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: url('space.jpg');
    background-size: cover;
}

.mainConent {
    height: 100%;
    width: 80%;
}

.topContentWrapper{
    height: 50%;
    width: 100%;
    display: flex;
}

.topLeftContentWrapper {
    width: 250px;
    height: 100%;
    display: flex;
    align-items: center;
}

@keyframes hero {
    0% {
        transform: translateX(-30vw);
    }

    100% {
        transform: translateX(0vw);
    }
}

.heroShipImg {
    height: 250px;
    width: 250px;
    animation: hero .5s ease-in-out;
}

.heroShipImgHide {
    height: 250px;
    width: 250px;
    display: none;
}

.topMiddleWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.topMiddle {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.topRightWrapper {
    width: 250px;
    height: 100%;
    display: flex;
    align-items: center;
}

.laserRight {
    height: 45px;
    width: 100px;
    animation: laserRight .5s ease-in-out;
}

.laserLeft {
    height: 45px;
    width: 100px;
    animation: laserLeft .5s ease-in-out;
}

.laserHide {
    height: 45px;
    opacity: 0;
}

@keyframes laserRight {
    0% {
        transform: translateX(0vw);
    }

    100% {
        transform: translateX(50vw);
    }
}

@keyframes laserLeft {
    0% {
        transform: translateX(50vw);
    }

    100% {
        transform: translateX(0vw);
    }
}




@keyframes enemy {
    0% {
        transform: translateX(100vw);
    }

    100% {
        transform: translateX(0vw);
    }
}

.enemyShipImg {
    height: 250px;
    width: 250px;
    animation: enemy .5s ease-in-out;
}

.enemyShipImgHide {
    height: 250px;
    width: 250px;
    display: none;
}

.bottomConentWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.bottomContent {
    width: 75%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(129, 129, 129, .4);
    border-radius: 25px;
    border: 1px solid lightgray;
}

.battleBox {
    border: 2px solid rgb(0, 0, 0);
    width: 90%;
    height: 275px;
    background-color: rgba(0, 0, 0, .7);
    color: white;
}

.menu {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.menuLeft {

}

.startGame {
    height: 40px;
    width: 125px;
    border: 2px solid black;
    background-color: darkred;
    color: white;
    border-radius: 25px;
    font-size: 20px;
    font-weight: bold;
    box-shadow: inset 0 0 9px 3px rgb(47, 0, 0);
}

.menuCenter {

}

.fire {
    height: 40px;
    width: 125px;
    border: 2px solid black;
    background-color: darkred;
    color: white;
    border-radius: 25px;
    font-size: 20px;
    font-weight: bold;
    box-shadow: inset 0 0 9px 3px rgb(47, 0, 0);
}

.menuRight {

}

.retreat {
    height: 40px;
    width: 125px;
    border: 2px solid black;
    background-color: darkred;
    color: white;
    border-radius: 25px;
    font-size: 20px;
    font-weight: bold;
    box-shadow: inset 0 0 9px 3px rgb(47, 0, 0);
}